{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="container py-5">
    <h1 align='center'>Об авторе проекта</h1>
    <br>
    <p align='center'>
        <img src="{% static 'img/author.jpg' %}" p align='center'>
    </p>
    <br>
    <p>
        Привет, я автор этого сайта и меня зовут Александр Авров.
    </p>
    <p>
        Я из города Санкт-Петербург, живу здесь 8 лет. Женат, есть дочь. 
        Увлекаюсь скалолазанием, сноубордом, туризмом. Веду активный и здоровый образ жизни. 
    </p>
    <p>
        Последние 5 лет работаю  в автомобильном 
        бизнесе. Но в 2022 году решил освоить язык программирования Python 
        и попробовать сферу IT как основной вид деятельности. В этом мне помогают
        Яндекс-Практикум, наставники, ревьюеры и куратор нашего курса. Прошло всего 
        два месяца, а мы уже написали небольшой сайт. 
    </p>
    <p>
        <ul>
        <li>
            Мой гитхаб: <a href='https://github.com/AlexanderAvrov'>GitHub</a>
        </li>
        <li>
            Мое резюме: <a href='https://spb.hh.ru/resume/4ebd949cff03bfcede0039ed1f393036304d47'>HeadHunter</a>
        </li>
        <li> 
            Мои контакты: +7-950-011-86-87, <a href='https://t.me/Masslove_888'>Telegram</a>
        </li>
        </ul>
</div>
{% endblock %} 